@import url('../../.cache/wal/colors-waybar.css');

@define-color mauve  @color9;
@define-color red  @color9;
@define-color lavender  @color7;
@define-color text  @color7;

* {
    all: unset;
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(20, 20, 20, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* для совместимости */
}

#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}

#outer-box {
    border: none;
}

#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}

#input {
    all: unset;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    color: @text;
    background-color: rgba(40, 40, 40, 0.5);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

#input image {
    border: none;
    color: @red;
    padding-right: 10px;
}

#text {
    margin: 5px;
    color: @text;
}

#entry {
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

#entry arrow {
    color: @lavender;
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.03);
    border: 2px solid @mauve;
    border-radius: 10px;
}

#entry:selected #text {
    color: @mauve;
}

#entry:drop(active) {
    background-color: @lavender !important;
}
